* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #346275;
}
.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 2em; 
    color: white;
    background-color: #754734;
    border-radius: 2em;
    padding: 4em 3em;
    box-shadow:0 5px 10px 0 #EDE8D0;

}

.title{
    font-size: 3em;
}
hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1rem;
    border:none;
}

.timer{
    font-size: 10em;
    font-weight: 700;
}
.button-wrapper{
    display: flex;
    gap:1em;
}
button{
    font-size:2em;
    font-weight:800;
    letter-spacing:1px;
    padding:0.5em 1.5em;
    border-radius:0.5em;
    border:none;
    color: white;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

/*User Interaction Feedback - Future: add sound effects, hover effects */
button:hover{
    transform: translateY(-10px);
}
#start{
    background-color: #347547;
}
#stop{
    background-color:#346275;
}
#reset{
    background-color: #753462;
}
